<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Resultados de tu búsqueda'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Producto eliminado correctamente! </h2>
			</div>
			<a href="/" class="delete-button">Volver al home</a>
		</div>
	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>